<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<title>ClientesApp</title>
		<!--Import Google Icon Font-->
	      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
	      <!--Import materialize.css-->
	      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
	
	      <!--Let browser know website is optimized for mobile-->
	      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	      <link rel="stylesheet" href="style/styleCss.css"/>
	</head>
	<body>
		<h1>Pesquisa de Cidades</h1>
		<h3><a href="/clientes" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Lista de Cliente</a></h3>
		
		<form class="container" method="post">
				Pesquisa Cidade por Nome: <input type="text" value="" name="codigo"/>
				<button class="waves-effect waves-light btn" type="submit">Pesquisar</button>
		</form>		
			
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
		
	
	</body>
</html>